.box{
	width: auto;
	padding: 20px;
	margin: 20px;
	border: 1px solid #999;
	background-color: #eee;
	overflow: hidden;
}
img{
	width: 80px;
	height: 80px;
}
.left{
	float: left;
	border: 1px solid #999;
	width: 200px;
	height: 100px;	
	background-color: white;
}
.right{
	float: right;
	border: 1px solid #999;
	width: 120px;
	height: 400px;
	background-color: white;
}
.center{
	border: 1px solid #999;
	margin-left: 260px;
	margin-right: 160px;
	background-color: white;
	padding: 20px;
}
.img1{
	position:relative;
	top: 10px;
	left: 10px;
	bottom: 10px;
}
.text{
	float: right;
	position:relative;
	top: 10px;
	right: 10px;
}
.img2{
	padding: 20px 20px 10px 18px;
}
.img3{
	padding: 0px 20px 10px 18px;
}
