.box{
	width: auto;
	height:500px;
	border: 1px solid black;
	text-align: center;

}
.center{
	display: inline-block;
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position: relative;
	margin-top: 150px;
	margin-bottom: 150px;
}
.left{
	position: absolute;
	border-radius: 50px;
	border:50px solid transparent;
	border-top-color:#fc0;
	transform: rotate(135deg);
	top: -50px;
	left: -50px;
}
.right{
	position: absolute;
	border-radius: 50px;
	border:50px solid transparent;
	border-bottom-color:#fc0;
	transform: rotate(135deg);
	bottom: -50px;
	right: -50px;
}